---
title: Find CKAN Extensions
layout: default
bodyclass: code
---

<div class="page-header">
  <h1>
    <!--div style="float: right; font-size: 75%;">
      [<a href="/extensions/add/">Add a Project</a>]
    </div-->
    Find CKAN Extensions
  </h1>
</div>

<form class="form-inline hidden search js-search">
  <input type="text" name="q" placeholder="Search extensions" />
  <select data-placeholder="Add filters ..."
    class="form-control chosen-select"
    multiple
    >
    <option value=""></option>
    <optgroup label="Featured">
      <option value="[data-featured*=1]">Featured</option>
    </optgroup>
  </select>
  <button type="submit" class="btn btn-primary">Search</button>
  <br />
  <p class="help">
    <a href="/add/">Add an extension &raquo;</a>
    &mdash;
    <a href="{{site.github}}/issues">Report an issue &raquo;</a>
  </p>
</form>

<div class="extensions">
  <div class="result-summary">
    <h3>
      Matching extensions:
      <span class="count js-result-count">0</span> 
    </h3>
  </div>
{% for extension in site.pages %}
  {% if extension.category == 'Extension' %}
  <div class="record"
    data-featured="{{extension.featured}}"
    data-status="{{extension.status}}"
    data-type="{{ extension.type | join: ";" }}"
    data-url="{{extension.url | replace:'index.html',''}}"
    style="display: none;"
    >
    <h2>
      <a href="{{extension.url | replace:'index.html',''}}">{{extension.title}}
      </a>
      {% if extension.author %}
      <div class="author">by {{extension.author}}</div>
      {% endif %}
    </h2>
    <div class="meta">
      {% if extension.featured %}
      <span class="label label-important">Featured</span>
      {% endif %}
    </div>

    <div class="description">
      {{ extension.content | markdownify | strip_html | truncatewords: 45 }} 
      <a href="{{ extension.url }}" title="read more">Read more &raquo;</a>
    </div>
  </div>
  {% endif %}
{% endfor %}
</div>


<script type="text/javascript" src="../assets/js/chosen.jquery.min.js"></script>
<script type="text/javascript" src="../assets/js/extensions.js"></script>

