---
title: Find CKAN Extensions
layout: default
bodyclass: code
---

<div class="page-header">
  <h1>
    <!--div style="float: right; font-size: 75%;">
      [<a href="/extensions/add/">Add a Project</a>]
    </div-->
    Find CKAN Extensions
  </h1>
</div>

<form class="form-inline hidden" id="filters">
  <select data-placeholder="Filter extensions..." style="width:500px;" class="form-control chosen-select" multiple>
    <option value=""></option>
    <optgroup label="Featured">
      <option value="[data-featured*=true]" selected>Featured</option>
    </optgroup>
    <optgroup label="Help wanted">
      <option value="[data-helpwanted*=true]">Help wanted</option>
    </optgroup>
  </select>
  <button type="submit" class="btn btn-primary">Filter</button>
</form>

<div class="extensions">
{% for extension in site.pages %}
  {% if extension.category == 'Extension' %}
    <div class="record" data-featured="{{extension.featured}}" data-helpwanted="{{extension.helpwanted}}" data-status="{{extension.status}}" data-language="{{ extension.language | join: ";" }}" data-type="{{ extension.type | join: ";" }}" data-tags="{{ extension.tags | join: ";" }}" data-url="{{extension.url | replace:'index.html',''}}">
      <h2>
        <a href="{{extension.url | replace:'index.html',''}}">{{extension.title}}
        </a>
        {% if extension.author %}
        <div class="author">by {{extension.author}}</div>
        {% endif %}
      </h2>

      <div class="description">
        {{ extension.content | markdownify | strip_html | truncatewords: 45 }} 
        <a href="{{ extension.url }}" title="read more">Read more &raquo;</a>
      </div>
    </div>
  {% endif %}
{% endfor %}
</div>


<script type="text/javascript" src="../assets/js/chosen.jquery.min.js"></script>
<script type="text/javascript" src="../assets/js/extensions.js"></script>

