---
layout: default
categories: extension
bodyclass: extension
---

<div class="page-title">
  <h1>
    {{page.title}}

    <br />
    {% if page.author %}
      <small>by {{page.author}}</small>
    {% endif %}
  </h1>
</div>

<div class="row">
  <div class="span8">
    <ul class="meta">
      <li>
        <i class="fa fa-link" title="Project Home Page"></i> <a
          href="{{page.homepage}}" target="_blank">{{page.homepage}}</a>
      </li>
      {% if page.github_repo %}
      <li>
        <iframe src="http://ghbtns.com/github-btn.html?user={{page.github_user}}&repo={{page.github_repo}}&type=watch&count=true"
            allowtransparency="true" frameborder="0" scrolling="0" width="80" height="20"></iframe>
        <iframe src="http://ghbtns.com/github-btn.html?user={{page.github_user}}&repo={{page.github_repo}}&type=fork&count=true"
            allowtransparency="true" frameborder="0" scrolling="0" width="80" height="20"></iframe>
      </li>
      {% endif %}
    </ul>

    <div class="description">
    {{content}}
    </div>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'ckanextensions'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
  <div class="span4">
    <h3>Recent Activity</h3>
    <div id="github-activity"></div>
    <script>
      $('#github-activity').githubActivity({
        repos: ["{{page.github_user}}/{{page.github_repo}}"]
      });
    </script>
  </div>
</div>

