---
layout: default
categories: extension
bodyclass: extension
---

<div class="page-title">
  <h1>
    {{page.title}}

    <br />
    {% if page.author %}
      <small>by {{page.author}}</small>
    {% endif %}
  </h1>
</div>

<ul class="meta">
  <li>
    <i class="fa fa-link" title="Project Home Page"></i> <a
      href="{{page.homepage}}" target="_blank">{{page.homepage}}</a>
  </li>
  {% if page.github_repo %}
  <li>
    <iframe src="http://ghbtns.com/github-btn.html?user={{page.github_user}}&repo={{page.github_repo}}&type=watch&count=true"
        allowtransparency="true" frameborder="0" scrolling="0" width="80" height="20"></iframe>
    <iframe src="http://ghbtns.com/github-btn.html?user={{page.github_user}}&repo={{page.github_repo}}&type=fork&count=true"
        allowtransparency="true" frameborder="0" scrolling="0" width="80" height="20"></iframe>
  </li>
  {% endif %}
</ul>

<p class="description">
{{content}}
</p>

